body {
  background-color: #254E58;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


p, h1, h2, h3, h4, h5, h6, ul, ol, li {
  color: #88BDBC;
  border-radius: 10px;
  padding: 10px;
}


a {
  color: #112D32;
  border-radius: 10px;
  padding: 5px;
}


code {
  background-color: #6E6658;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

header h1, nav a {
  color: #88BDBC;
  border-radius: 10px;
  padding: 5px;
}
header {
  background-color: #112D32;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


button {
  background-color: #88BDBC;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
}

footer {
  background-color: #254E58;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px 0;
}

main {
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px; 
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

table th, table td {
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #112D32;
  font-weight: bold;
  cursor: pointer;
}

table tr:hover {
  background-color:  #88BDBC;
}