<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Default title{% endblock title %}</title>
        <script src="{% static 'js/scripts.js' %}"></script>
    </head>
<body>
    <header>
        <h1 style="margin-bottom: 5px;">{% block header %}{% endblock header %}</h1>
        <nav>
            <div class="button-container">
                <form action="/">
                    <button>Главная</button>
                </form>
                {% comment %} <form action="/add_person">
                    <button>Добавить сотрудника</button>
                </form> {% endcomment %}
            </div>
            </ul>
        </nav>
    </header>

    <main>
        <div>
        {% block content%}{% endblock content %}
        </div>
    </main>

    {% comment %} <footer>
        <p>Подвал</p>
    </footer> {% endcomment %}
</body>
</html>
