{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock title %}
{% block header %}Главная{% endblock header %}
{% block content %}
<script type='text/javascript'></script>
    {{msg}}
    <div>
        <table id ='my_table' class="resizable">
                <tr>
                    <th onclick="sortNumberColumn(0)">№</th>
                    <th onclick="sortStringColumn(1)">ФИО</th>
                    <th onclick="sortStringColumn(2)">Звание</th>
                    <th onclick="sortStringColumn(3)">Должность</th>
                    <th onclick="sortStringColumn(4)">Группа</th>
                    <th style='width: 5%'></th>
                </tr>
                {%for employee in data%} 
                <tr>
                    <td>{{employee.post_num}}</td>
                    <td>
                        <form action='person' method='POST'>
                            {% csrf_token %}
                            <button name='post_num' value="{{employee.post_num}}">
                                {{employee.second_name}} {{employee.name}} {{employee.third_name}}
                            </button>
                            <input type='hidden' name='employee_id' value="{{employee.id}}">
                        </form>
                    </td>
                    <td>{{employee.rank.rank_name}}</td>
                    <td>{{employee.post.post_name}}</td>
                    <td>{{employee.group_num}}</td>
                    <td>
                        <form action='' method='POST'>
                            {% csrf_token %}
                            <button name='button' type='submit' value='del' style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/del_button.png" %}"></button>
                            <input type='hidden' name='employee_id' value="{{employee.id}}">
                        </form>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% endblock content %}
