{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block header %}{{title}}{% endblock header %}
{% block content %}
{% load static %}
<script type='text/javascript'></script>
<form method="POST" action="information_table">
{% csrf_token %}   

{%if table_name == "Property"%}
<table id ='my_table' class="resizable">
    <tr>
        <th onclick="sortStringColumn(0)">Название</th>
        <th onclick="sortStringColumn(1)">Инвентарный номер</th>
        <th onclick="sortDateColumn(2)">Дата получения</th>
        <th onclick="sortStringColumn(3)">Отмета о сдаче</th>
        <th onclick="sortStringColumn(4)">Примечание</th>
        <th>Удалить</th>
    </tr>
    {%for property in table %}
    <tr>
        <td>{{property.name}}</td>
        <td>{{property.inv_num}}</td>
        <td>{{property.date_of_rec}}</td>
        <td>{{property.status}}</td>
        <td>{{property.description}}</td>
        <td>
                <button form='1' name='row_del' type='submit' value="{{property.id}}" style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/del_button.png" %}"></button>
        </td>
    </tr>
    {%endfor%}
    <tr>
        <th>{{property_form.name}}</th>
        <th>{{property_form.inv_num}}</th>
        <th>{{property_form.date_of_rec}}</th>
        <th>{{property_form.status}}</th>
        <th>{{property_form.description}}</th>
        <th><button type='submit' value='True' name='filling' style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/add.png" %}"></button></th>
    </tr>
</table>
{% endif %}

{%if table_name == "Promotions"%}
<table id ='my_table' class="resizable">
    <tr>
        <th onclick="sortStringColumn(0)">Тип поощрения/взыскания</th>
        <th onclick="sortStringColumn(1)">Чьими правами</th>
        <th onclick="sortDateColumn(2)">Дата приказа</th>
        <th onclick="sortStringColumn(3)">Номер приказа</th>
        <th onclick="sortStringColumn(4)">Примечание</th>
        <th>Удалить</th>
    </tr>
    {% for promotion in table %}
    <tr>
        <td>{{promotion.promotion_type}}</td>
        <td>{{promotion.rights}}</td>
        <td>{{promotion.date_of_rec}}</td>
        <td>{{promotion.order_num}}</td>
        <td>{{promotion.description}}</td>
        <td>
            <button form='1' name='row_del' type='submit' value="{{promotion.id}}" style='padding: 3px; height: 40px; width: 40px'>><img height='25' src="{% static "images/del_button.png" %}"></button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th>{{promotions_form.promotion_type}}</th>
        <th>{{promotions_form.rights}}</th>
        <th>{{promotions_form.date_of_rec}}</th>
        <th>{{promotions_form.order_num}}</th>
        <th>{{promotions_form.description}}</th>
        <th><button type='submit' value='True' name='filling' style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/add.png" %}"></button></th>
    </tr>
</table>
{% endif %}

{%if table_name == "Relatives"%}
<table id ='my_table' class="resizable">
    <tr>
        <th onclick="sortStringColumn(0)">Фамилия</th>
        <th onclick="sortStringColumn(1)">Имя</th>
        <th onclick="sortStringColumn(2)">Отчество</th>
        <th onclick="sortStringColumn(3)">Степень родства</th>
        <th onclick="sortStringColumn(4)">Номер телефона</th>
        <th>Удалить</th>
    </tr>
    {% for relative in table %}
    <tr>
        <td>{{relative.second_name}}</td>
        <td>{{relative.name}}</td>
        <td>{{relative.third_name}}</td>
        <td>{{relative.relation_degree}}</td>
        <td>{{relative.phone_number}}</td>
        <td>
            <button form='1' name='row_del' type='submit' value="{{relative.id}}" style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/del_button.png" %}"></button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th>{{relatives_form.second_name}}</th>
        <th>{{relatives_form.name}}</th>
        <th>{{relatives_form.third_name}}</th>
        <th>{{relatives_form.relation_degree}}</th>
        <th>{{relatives_form.phone_number}}</th>
        <th><button type='submit' value='True' name='filling' style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/add.png" %}"></button></th>
    </tr>
</table>
{% endif %}

{%if table_name == "Auto"%}
<table id ='my_table' class="resizable">
    <tr>
        <th onclick="sortStringColumn(0)">Модель</th>
        <th onclick="sortStringColumn(1)">Гос.регистрационный номер</th>
        <th>Удалить</th>
    </tr>
    {% for auto in table %}
        <tr>
            <td>{{auto.model}}</td>
            <td>{{auto.gos_num}}</td>
            <td>
                <button form='1' name='row_del' type='submit' value="{{auto.id}}" style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/del_button.png" %}"></button>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <th>{{auto_form.model}}</th>
        <th>{{auto_form.gos_num}}</th>
        <th><button type='submit' value='True' name='filling' style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/add.png" %}"></button></th>
    </tr>
</table>
{% endif %}

{%if table_name == "Vaccination"%}
<table id ='my_table' class="resizable">
    <tr>
        <th onclick="sortStringColumn(0)">Название</th>
        <th onclick="sortDateColumn(1)">Дата вакцинации</th>
        <th onclick="sortStringColumn(2)">Примечание</th>
        <th>Удалить</th>
    </tr>
    {% for vaccine in table %}
        <tr>
            <td>{{vaccine.vaccine_name}}</td>
            <td>{{vaccine.date}}</td>
            <td>{{vaccine.description}}</td>
            <td>
                <button form='1' name='row_del' type='submit' value="{{vaccine.id}}" style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/del_button.png" %}"></button>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <th>{{vaccination_form.vaccine_name}}</th>
        <th>{{vaccination_form.date}}</th>
        <th>{{vaccination_form.description}}</th>
        <th><button type='submit' value='True' name='filling' style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/add.png" %}"></button></th>
    </tr>
</table>
{% endif %}

{%if table_name == "Education"%}
<table id ='my_table' class="resizable">
    <tr>
        <th onclick="sortStringColumn(0)">Степень</th>
        <th onclick="sortStringColumn(1)">Учебное заведение</th>
        <th onclick="sortDateColumn(2)">Дата выпуска</th>
        <th onclick="sortStringColumn(3)">Специальность</th>
        <th onclick="sortStringColumn(4)">Примечание</th>
        <th>Удалить</th>
    </tr>
    {% for educ in table %}
    <tr>
        <td>{{educ.grade}}</td>
        <td>{{educ.institution}}</td>
        <td>{{educ.date_of_graduate}}</td>
        <td>{{educ.speciality}}</td>
        <td>{{educ.description}}</td>
        <td>
            <button form='1' name='row_del' type='submit' value="{{educ.id}}" style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/del_button.png" %}"></button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th>{{education_form.grade}}</th>
        <th>{{education_form.institution}}</th>
        <th>{{education_form.date_of_graduate}}</th>
        <th>{{education_form.speciality}}</th>
        <th>{{education_form.description}}</th>
        <th><button type='submit' value='True' name='filling' style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/add.png" %}"></button></th>
    </tr>
</table>
{% endif %}

{%if table_name == "Training"%}
<table id ='my_table' class="resizable">
    <tr>
        <th onclick="sortStringColumn(0)">Код потока</th>
        <th onclick="sortStringColumn(1)">Учебное заведение</th>
        <th onclick="sortDateColumn(2)">Дата начала обучения</th>
        <th onclick="sortStringColumn(3)">Продолжительность</th>
        <th onclick="sortStringColumn(4)">Примечание</th>
        <th>Удалить</th>
    </tr>
    {% for train in table %}
    <tr>
        <td>{{train.thread_code}}</td>
        <td>{{train.institution}}</td>
        <td>{{train.start_date}}</td>
        <td>{{train.duratin}}</td>
        <td>{{train.description}}</td>
        <td>
            <button form='1' name='row_del' type='submit' value="{{train.id}}" style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/del_button.png" %}"></button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th>{{training_form.thread_code}}</th>
        <th>{{training_form.institution}}</th>
        <th>{{training_form.start_date}}</th>
        <th>{{training_form.duratin}}</th>
        <th>{{training_form.description}}</th>
        <th><button type='submit' value='True' name='filling' style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/add.png" %}"></button></th>
    </tr>
</table>
{% endif %}

{%if table_name == "Weapons"%}
<table id ='my_table' class="resizable">
    <tr>
        <th onclick="sortStringColumn(0)">Название</th>
        <th onclick="sortNumberColumn(1)">Количество</th>
        <th onclick="sortNumberColumn(2)">Номер</th>
        <th onclick="sortDateColumn(3)">Дата получения</th>
        <th onclick="sortStringColumn(4)">Отметка о сдаче</th>
        <th onclick="sortStringColumn(5)">Примечание</th>
        <th>Удалить</th>
    </tr>

    {% for weapon in table %}
    <tr>
        <td>{{weapon.weapon_name}}</td>
        <td>{{weapon.count}}</td>
        <td>{{weapon.weapon_num}}</td>
        <td>{{weapon.date_of_rec}}</td>
        <td>{{weapon.status}}</td>
        <td>{{weapon.description}}</td>
        <td>
            <button form='1' name='row_del' type='submit' value="{{weapon.id}}" style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/del_button.png" %}"></button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th>{{weapons_form.weapon_name}}</th>
        <th>{{weapons_form.count}}</th>
        <th>{{weapons_form.weapon_num}}</th>
        <th>{{weapons_form.date_of_rec}}</th>
        <th>{{weapons_form.status}}</th>
        <th>{{weapons_form.description}}</th>
        <th><button type='submit' value='True' name='filling' style='padding: 3px; height: 40px; width: 40px'><img height='25' src="{% static "images/add.png" %}"></button></th>
        
    </tr>
</table>

{% endif %}

<input type="hidden" name="table_name" value="{{table_name}}">
<input type="hidden" name="employee_id" value="{{employee_id}}">
</form>
<form method="POST" action="person">
    {% csrf_token %}
    <button name='employee_id' value="{{employee_id}}">Вернуться к сотруднику</button>
</form>

<form id='1' method='POST' action='information_table'>
    {% csrf_token %}
    <input type="hidden" name="table_name" value="{{table_name}}">
    <input type="hidden" name="employee_id" value="{{employee_id}}">
</form>
{% endblock content %}