{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block header %}{{title}}{% endblock header %}
{% block content %}

<form method="POST" action="information_table">
{% csrf_token %}   
{% comment %}Property  +++++++++++++++++++{% endcomment %}
{%if table_name == "Property"%}
<table>
    <tr>
        <th>Название</th>
        <th>Инвентарный номер</th>
        <th>Дата получения</th>
        <th>Отмета о сдаче</th>
        <th>Примечание</th>
        <th>Удалить</th>
    </tr>
    {%for property in table %}
    <tr>
        <td>{{property.name}}</td>
        <td>{{property.inv_num}}</td>
        <td>{{property.date_of_rec}}</td>
        <td>{{property.status}}</td>
        <td>{{property.description}}</td>
        <td>
                <button form='1' name='row_del' type='submit' value="{{property.id}}">Удалить</button>
        </td>
    </tr>
    {%endfor%}
    <tr>
        <td>{{property_form.name}}</td>
        <td>{{property_form.inv_num}}</td>
        <td>{{property_form.date_of_rec}}</td>
        <td>{{property_form.status}}</td>
        <td>{{property_form.description}}</td>
    </tr>
</table>
{% endif %}


{% comment %}Promotions  ++++++++++++++++++{% endcomment %}
{%if table_name == "Promotions"%}
<table>
    <tr>
        <th>Тип поощрения/взыскания</th>
        <th>Чьими правами</th>
        <th>Дата приказа</th>
        <th>Номер приказа</th>
        <th>Примечание</th>
        <th>Удалить</th>
    </tr>
    {% for promotion in table %}
    <tr>
        <td>{{promotion.promotion_type}}</td>
        <td>{{promotion.rights}}</td>
        <td>{{promotion.date_of_rec}}</td>
        <td>{{promotion.order_num}}</td>
        <td>{{promotion.description}}</td>
        <td>
            <button name='row_del' type='submit' value="{{promotion.id}}">Удалить</button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>{{promotions_form.promotion_type}}</td>
        <td>{{promotions_form.rights}}</td>
        <td>{{promotions_form.date_of_rec}}</td>
        <td>{{promotions_form.order_num}}</td>
        <td>{{promotions_form.description}}</td>
    </tr>
</table>
{% endif %}

{% comment %}Relatives  +++++++++++++++++{% endcomment %}
{%if table_name == "Relatives"%}
<table>
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Степень родства</th>
        <th>Номер телефона</th>
        <th>Удалить</th>
    </tr>
    {% for relative in table %}
    <tr>
        <td>{{relative.second_name}}</td>
        <td>{{relative.name}}</td>
        <td>{{relative.third_name}}</td>
        <td>{{relative.relation_degree}}</td>
        <td>{{relative.phone_number}}</td>
        <td>
            <button name='row_del' type='submit' value="{{relative.id}}">Удалить</button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>{{relatives_form.second_name}}</td>
        <td>{{relatives_form.name}}</td>
        <td>{{relatives_form.third_name}}</td>
        <td>{{relatives_form.relation_degree}}</td>
        <td>{{relatives_form.phone_number}}</td>
    </tr>
</table>
{% endif %}

{% comment %}Auto  ++++++++++++++++++++{% endcomment %}
{%if table_name == "Auto"%}
<table>
    <tr>
        <th>Модель</th>
        <th>Гос.регистрационный номер</th>
        <th>Удалить</th>
    </tr>
    {% for auto in table %}
        <tr>
            <td>{{auto.model}}</td>
            <td>{{auto.gos_num}}</td>
            <td>
                <button name='row_del' type='submit' value="{{auto.id}}">Удалить</button>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>{{auto_form.model}}</td>
        <td>{{auto_form.gos_num}}</td>
    </tr>
</table>
{% endif %}

{% comment %}Vaccination  +++++++++++++++{% endcomment %}
{%if table_name == "Vaccination"%}
<table>
    <tr>
        <th>Название</th>
        <th>Дата вакцинации</th>
        <th>Примечание</th>
        <th>Удалить</th>
    </tr>
    {% for vaccine in table %}
        <tr>
            <td>{{vaccine.vaccine_name}}</td>
            <td>{{vaccine.date}}</td>
            <td>{{vaccine.description}}</td>
            <td>
                <button name='row_del' type='submit' value="{{vaccine.id}}">Удалить</button>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>{{vaccination_form.vaccine_name}}</td>
        <td>{{vaccination_form.date}}</td>
        <td>{{vaccination_form.description}}</td>
    </tr>
</table>
{% endif %}

{% comment %}Education  ++++++++++++++++{% endcomment %}
{%if table_name == "Education"%}
<table>
    <tr>
        <th>Степень</th>
        <th>Учебное заведение</th>
        <th>Дата выпуска</th>
        <th>Специальность</th>
        <th>Примечание</th>
        <th>Удалить</th>
    </tr>
    {% for educ in table %}
    <tr>
        <td>{{educ.grade}}</td>
        <td>{{educ.institution}}</td>
        <td>{{educ.date_of_graduate}}</td>
        <td>{{educ.speciality}}</td>
        <td>{{educ.description}}</td>
        <td>
            <button name='row_del' type='submit' value="{{educ.id}}">Удалить</button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>{{education_form.grade}}</td>
        <td>{{education_form.institution}}</td>
        <td>{{education_form.date_of_graduate}}</td>
        <td>{{education_form.speciality}}</td>
        <td>{{education_form.description}}</td>
    </tr>
</table>
{% endif %}

{% comment %}Training  +++++++++++++++{% endcomment %}
{%if table_name == "Training"%}
<table>
    <tr>
        <th>Код потока</th>
        <th>Учебное заведение</th>
        <th>Дата начала обучения</th>
        <th>Продолжительность</th>
        <th>Примечание</th>
        <th>Удалить</th>
    </tr>
    {% for train in table %}
    <tr>
        <td>{{train.thread_code}}</td>
        <td>{{train.institution}}</td>
        <td>{{train.start_date}}</td>
        <td>{{train.duratin}}</td>
        <td>{{train.description}}</td>
        <td>
            <button name='row_del' type='submit' value="{{train.id}}">Удалить</button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>{{training_form.thread_code}}</td>
        <td>{{training_form.institution}}</td>
        <td>{{training_form.start_date}}</td>
        <td>{{training_form.duratin}}</td>
        <td>{{training_form.description}}</td>
    </tr>
</table>
{% endif %}

{% comment %}Weapons  ++++++++++++++++++++++{% endcomment %}
{%if table_name == "Weapons"%}
<table>
    <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Номер</th>
        <th>Дата получения</th>
        <th>Отметка о сдаче</th>
        <th>Примечание</th>
        <th>Удалить</th>
    </tr>

    {% for weapon in table %}
    <tr>
        <td>{{weapon.weapon_name}}</td>
        <td>{{weapon.count}}</td>
        <td>{{weapon.weapon_num}}</td>
        <td>{{weapon.date_of_rec}}</td>
        <td>{{weapon.status}}</td>
        <td>{{weapon.description}}</td>
        <td>
            <button name='row_del' type='submit' value="{{weapon.id}}">Удалить</button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>{{weapons_form.weapon_name}}</td>
        <td>{{weapons_form.count}}</td>
        <td>{{weapons_form.weapon_num}}</td>
        <td>{{weapons_form.date_of_rec}}</td>
        <td>{{weapons_form.status}}</td>
        <td>{{weapons_form.description}}</td>
        
    </tr>
</table>


{% endif %}


<button type='submit' value='True' name='filling'>Добавить запись</button>
<input type="hidden" name="table_name" value="{{table_name}}">
<input type="hidden" name="employee_id" value="{{employee_id}}">
</form>
<form method="POST" action="person">
    {% csrf_token %}
    <button name='employee_id' value="{{employee_id}}">Вернуться к сотруднику</button>
</form>

<form id='1' method='POST' action='information_table'>
    {% csrf_token %}
    <input type="hidden" name="table_name" value="{{table_name}}">
    <input type="hidden" name="employee_id" value="{{employee_id}}">
</form>
{% endblock content %}