{% extends "base.html" %}
{% block title %}Сотрудник {{employee.post_num}}{% endblock title %}
{% block header %}Сотрудник {{employee.post_num}}{% endblock header %}
{% block content %}
{% load static %}
{%if msg%}
<h2>{{msg}}<h2>
{%endif%}
{% if employee.name != 'Вакант' %}
<h1>{{employee.second_name}} {{employee.name}} {{employee.third_name}}</h1>
<table style="width: 100%;">
    <tr>
        <th style='width: 10%'>Звание</th>
        <th style='width: 9%'>Должность</th>
        <th style='width: 5%'>Группа</th>
        <th style='width: 7%'>Номер приказа о назначении</th>
        <th style='width: 5%'>Дата приказа</th>
        <th style='width: 5%'>Личный номер</th>
        <th style='width: 5%'>Дата Рождения</th>
        <th style='width: 10%'>Место рождения</th>
        <th style='width: 7%'>Семейное положение</th>
        <th style='width: 7%'>Номер телефона</th>
        <th style="width: 30%;">Адрес места жительства</th>
    </tr>
    <tr>
        <td>{{employee.rank.rank_name}}</td>
        <td>{{employee.post.post_name}}</td>
        <td>{{employee.group_num}}</td>
        <td>{{employee.appointment_order_num}}</td>
        <td>{{employee.appointment_order_date}}</td>
        <td>{{employee.personal_num}}</td>
        <td>{{employee.b_day}}</td>
        <td>{{employee.place_of_bd}}</td>
        <td>{{employee.family_status}}</td>
        <td>{{employee.phone_number}}</td>
        <td>{{employee.address}}</td>
    </tr>
</table>
</br>
{% else %}
    <h1>Должность вакантна</h1>
{% endif %}
    <div class="button-container">
        <form method="POST" action="/person">
            {%csrf_token%}
            <button name='direction' id='left'>Предыдущий сотрудник</button>
            <input type="hidden" value="-" name="direction">
            <input type="hidden" value="{{employee.id}}" name="employee_id">
            <input type="hidden" value="{{employee.post_num}}" name="post_num">
        </form>
        <form method="POST" action="/person">
            {%csrf_token%}
            <button name='direction' id='right'>Следующий сотрудник</button>
            <input type="hidden" value="+" name="direction">
            <input type="hidden" value="{{employee.id}}" name="employee_id">
            <input type="hidden" value="{{employee.post_num}}" name="post_num">
        </form>
    </div>
</br>
{% if employee.name != 'Вакант' %}
        <div class="button-container">
            <form method="POST" action="information_table">
                {% csrf_token %}
                <h3>Отобразить сведения о:</h3>
                <button name='table_name' value="Property">Закрепленное имущество</button>
                <button name='table_name' value="Promotions">Поощрения</button>
                <button name='table_name' value="Relatives">Члены семьи</button>
                <button name='table_name' value="Auto">Личные автомобили</button>
                <button name='table_name' value="Vaccination">Вакцинация</button>
                <button name='table_name' value="Education">Образование</button>
                <button name='table_name' value="Training">Переподготовка</button>
                <button name='table_name' value="Weapons">Закрепленное оружие</button>
                <!-- <button name='table_name' value="Driver_license">Категории водительского удостоверения</button>
                <button name='table_name' value="Clothing_sizes">Размеры одежды</button> -->
                <input name="employee_id" type="hidden" value='{{employee.id}}'>
                <button >Категории водительского удостоверения</button>
                <button >Размеры формы одежды</button>
            </form>
                
        </div>
        <br><br>
        <div>
          <form action='edit' method='POST'>
            {% csrf_token %}
            <button name='employee_id' value="{{employee.id}}">Изменить информацию о сотруднике</button>
          </form>
        </div>
{% else %}
  
{% endif %}
<script>
    document.addEventListener('keydown', function(event) {
      if (event.key === 'ArrowLeft') {
        var buttonToClick = document.getElementById('left');
        if (buttonToClick) {
          buttonToClick.click();
        }
      } else if (event.key === 'ArrowRight') {
        var buttonToClick = document.getElementById('right');
        if (buttonToClick) {
          buttonToClick.click();
        }
      }
    });
  </script>
{% endblock content %}