{% extends "base.html" %}
{% block title %}Сотрудник {{id}}{% endblock title %}
{% block header %}Сотрудник {{id}}{% endblock header %}
{% block content %}
{% load static %}
<h2>{{text}}</h2>
<h1>{{employee.name}} {{employee.second_name}} {{employee.third_name}}</h1>
<table>
    <tr>
        <th>Звание</th>
        <th>Должность</th>
        <th>Группа</th>
        <th>Номер приказа о назначении на должность</th>
        <th>Дата приказа</th>
        <th>Личный номер</th>
        <th>Дата Рождения</th>
        <th>Место рождения</th>
        <th>Семейное положение</th>
        <th>Номер телефона</th>
        <th>Адрес места жительства</th>
    </tr>
    <tr>
        <td>{{employee.rank.rank_name}}</td>
        <td>{{employee.post.post_name}}</td>
        <td>{{employee.group}}</td>
        <td>{{employee.appointment_order_num}}</td>
        <td>{{employee.appointment_order_date}}</td>
        <td>{{employee.personal_num}}</td>
        <td>{{employee.b_day}}</td>
        <td>{{employee.place_of_bd}}</td>
        <td>{{employee.family_status}}</td>
        <td>{{employee.phone_number}}</td>
        <td>{{employee.address}}</td>
    </tr>
</table>
</br>
    <div>
        <form method="POST" action="/person">
            {%csrf_token%}
            <input style="content: Предыдущий сотрудник;" type="submit" name="direction" value="-" >
            <input style="content: Следующий сотрудник;" type="submit" name="direction" value="+">
            <input type="hidden" value="{{employee.id}}" name="employee_id">
        </form>
    </div>
</br>
    <div>
        <form method="POST" action="information_table" id="form">
            {% csrf_token %}
            <h3>Отобразить сведения о:</h3>
            <select name="table" form="form">
                <option value="property">Имущество</option>
                <option value="promotions">Поощрения</option>
                <option value="relatives">Члены семьи</option>
                <option value="auto">Личные автомобили</option>
                <option value="vaccination">Вакцинация</option>
                <option value="education">Образование</option>
            </select>
            <input name="employee_id" type="hidden" value='{{employee.id}}'>
            <input type="submit">
        </form>
    </div>
{% endblock content %}